.about {
    background-color: $bgcMain;
    padding: 50px 0;
    .about-info {
        width: 90%;
        max-width: 420px;
        // padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        @media(min-width: 768px) {
            padding: 0 50px ;
        }
        @media(min-width: 1200px) {
            padding: 0;
        }
        
      
        
        .btn-primary {
            margin-top: 30px;
            margin-left: 0;
            text-transform: capitalize;
        }

    }
    .about-img {
        width: 90%;
        height: 300px;
      }
        
    
    .image {
        background-image: url('./img/computer.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        
       
        
    }
}