   .advantages {
    background-color: $dark3;
    color: $light;
    @media(min-width: 768px) {
        display: flex;

    }
    @media(min-width: 1200px) {
        display: flex;
        text-align: right;

    }
    .adv-info {
      
    padding: 50px 0 50px 30px;
        width: 90%;
        max-width: 420px;
        // margin: 0 auto;
        .btn {
            margin: 0;
            margin-top: 30px;
        }
        @media(min-width:768px) {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        @media(min-width:992px) {
            width: 50%;
            max-width: 1170px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding: 50px;
            
        }
      
    }
    .adv-img {
        display: none;
        @media(min-width:768px) {
            display: block;
            background-image: url('./img/advantage-img.png');
            width: 50%;
            background-size: cover;
            background-position: center;
        }
    }
    .info{
                   text-align: left;
                   max-width: 500px;
                 
                    @media(min-width:992px) {
                     text-align: right;    
                         }
}
}