header {
    background: url('./img/header-bg.png');    
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    
    
    nav {
        background-color: $light;
        padding: 10px 20px;
        transition: .5s;
        z-index: 10;
        
        @media(min-width: 768px) {
            position: fixed;
            width: 100%;
            padding: 30px 20px;

            
            &.fixed {
                padding: 5px 20px
            }
        }
            
        .nav-button {        
            position: static;
            top: 20px;
            right: 20px;
            z-index: 1000;
            
            &.button-fixed {
                position: fixed;
                top: 20px;
                right: 20px;
            }

                .fa-bars {
                    display: block;                
                }
                .fa-times {
                    display: none;
                 }

           &.isOpen .fa-bars{
                display: none;
           }
           &.isOpen .fa-times{
                display: block;
           }

           @media(min-width: 768px) {
               display: none;
           }
           
        }

        .nav-brand {
            justify-self: flex-start;
            z-index: 3;
        }  

        .nav-links {      
            position: fixed;
            background: $light-trans;
            padding-top: 20px;
            width: 100%;
            top:0;
            left:0;
            list-style-type: none;
            transform: translateY(-100%);
            transition: .5s;           

            @media(min-width: 768px) {
                position: static;
                transform: translate(0);
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding: 0;
                transition: 0;                
            }

            &.nav-open {
                transform: translateY(0%); 
                padding-top: 50px;  
                z-index: 2;           
            }
          
            .nav-item {
                margin: 30px auto;
                text-align: center; 
                &.active a{
                    color: $blue;
                    
                }              

                &:nth-child(7) {
                    display: none;
                } 
                &:nth-child(8) {
                    display: none;
                } 

                @media(min-width: 768px) {
                   margin: 0;
                   padding: 0 10px;

                   &:nth-child(7) {
                       display: block;
                       margin-left: 25px;

                       &:hover {
                           transform: scale(1.1);
                       }
                   }

                   &:nth-child(8) {
                       display: block;
                       margin-right: 40px;

                       &:hover {
                        transform: scale(1.1);
                    }
                   }
                }
                
                @media(min-width: 1200px) {
                    padding: 0 20px;
                }
            }

            .nav-link {                
                text-decoration: none;
                text-transform: uppercase;  
                font-weight: bold;   
                cursor: pointer;
                color: $dark;   

                &.active {
                    
                    position: relative;

                    &::after {
                        position: absolute;
                        content: "";
                        bottom:0;
                        left:0;
                        height: 3px;
                        width: 120%;
                        transform: translate(-10%, 5px);
                        background-color: $blue;
                    }

                    &:hover:after{
                        background-color: lighten($blue, 20%);
                    }

                    &:hover {
                        color:lighten($blue, 20%);
                    }

                }

                &:hover {
                    color:$grey3;
                }        
            }            
        }
    }
    
    .heading {
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 94%;
        max-width: 1170px;

        .title {
            font-family: $font-roboto;
            color: $light;
            text-align: center;
            line-height: 50px;
            font-size: 38px;
            margin-bottom: 70px;
            font-weight: 500;

            @media(min-width: 768px) {
                font-size: 55px;
                line-height: 70px;
            margin-bottom: 100px;                
            }
        }
        
    }
}