.purchase {
    background-color: $blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    @media(min-width: 768px) {
        flex-direction: row;
    }
    &::after {
        position: absolute;
        bottom: -10px;;
        left: 50%;
        content: "";
        transform: translateX(-50%) rotate(45deg);
        height: 20px;
        width: 20px;
        background-color: $blue;
        }
    .main-purchase {
        color: $light;
        font-size: 24px;
        padding: 60px;
    }
    .purchase-btn {
        font-size: 18px;
        color:$light;
        background-color: $blue;
        margin-bottom: 40px;
        padding:  10px 20px;
        border: 1px solid $light;
        cursor: pointer;
        transition: .3s;
        &:hover {
            background-color: $light;
            color: $blue;
        }
    }
}