.team   {
    background-color: $grey2;
    padding: 100px 0;
    overflow-x: hidden;
    .team-cont {
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
       display: grid;
       justify-content: space-evenly;
       text-align: center;
       grid-template-columns: 1fr;
       overflow-x: hidden;

       @media(min-width: 992px) {
           grid-template-columns: repeat(2, 1fr);
       }
       @media(min-width: 1200px) {
           grid-template-columns: repeat(3, 1fr);
       }
    }
 .row {
     width: 100%;   
     text-align: center;
     h3 {
         color: $dark;
     }
     p {
         color: $grey3;
     }

 }
     
 .card {     
    background-color: #243130;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 350px;
    max-width: 500px;
    margin: 20px;
    margin-top: 150px;
    transition: .5s;
    position: relative;
    
    .team-img {
        position: absolute;
        left: 50%;
        bottom: 78px;
        transform: translateX(-50%);
    }
  
    
   
  
    .card-info {
        position: relative;
        width: 100%;
        background-color: $light;        
        text-align: center;    
        height: 80px;   
        width: 100%;
        overflow: hidden;
       

        .person-details {
            // height: 100%;
            // width: 100%;
            transition: .5s;

          
        .team-name {
            color: $blue;
            padding: 16px 0 10px 0;
            font-size: 18px;
            font-weight: 400;
            opacity: 1;
        }
        .team-position {
            padding: 0px 0 20px 0;
            color: $grey;
            font-size: 13px;
            font-weight: 300;
            opacity: 1;            
        }
    }

        .socials {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 100%);
            color: black;
            width: 100%;
            display: flex;
            justify-content: center;
            transition: .5s;
           height: 80px;
            
            i {
                font-size: 24px;
                color: $grey;
                padding: 0 10px;
                &:hover {
                    color: $blue;
                }
            }
        }
    }
    &:hover {
        background-color: $blue;
        .person-details {
            transform: translateY(100%);
        }
        .socials {
            transform: translate(-50%, -10%);
            color: red;
        }
      
    }
 }
}