.team   {
    background-color: $grey2;
    padding: 100px 0;
    padding-bottom: 0;
    width: 100vw;
    overflow-x: hidden;
    .team-cont {
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
       display: grid;
       justify-content: space-evenly;
       text-align: center;
       grid-template-columns: 1fr;
       overflow-x: hidden;
       position: relative;

       @media(min-width: 992px) {
           grid-template-columns: repeat(2, 1fr);
       }
       @media(min-width: 1200px) {
           grid-template-columns: repeat(3, 1fr);
       }

       

     
  
       
    }
 .row {
     width: 100%;   
     text-align: center;
     h3 {
         color: $dark;
     }
     p {
         color: $grey3;
     }

 }
     
 .team-card {     
    background-color: #243130;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 350px;
    max-width: 500px;
    margin: 20px;
    margin-top: 150px;
    transition: .5s;
    position: relative;
    
    .team-img {
        position: absolute;
        left: 50%;
        bottom: 78px;
        transform: translateX(-50%);
    }
  
    
   
  
    .card-info {
        position: relative;
        width: 100%;
        background-color: $light;        
        text-align: center;    
        height: 80px;   
        width: 100%;
        overflow: hidden;
       

        .person-details {
            transition: .5s;

          
        .team-name {
            color: $blue;
            padding: 16px 0 10px 0;
            font-size: 18px;
            font-weight: 400;
            opacity: 1;
        }
        .team-position {
            padding: 0px 0 20px 0;
            color: $grey;
            font-size: 13px;
            font-weight: 300;
            opacity: 1;            
        }
    }

        .socials {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 100%);
            color: black;
            width: 100%;
            display: flex;
            justify-content: center;
            transition: .5s;
           height: 80px;
            
            i {
                font-size: 24px;
                color: $grey;
                padding: 0 10px;
                &:hover {
                    color: $blue;
                }
            }
        }
    }
    &:hover {
        background-color: $blue;
        .person-details {
            transform: translateY(100%);
        }
        .socials {
            transform: translate(-50%, -10%);
            color: red;
        }   
           
      
    }
   
 }
 .info-container {
     padding: 40px 60px;
     margin-top: 50px;
     background-color: $blue;
     color: $light;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;

    .info{
        .info-name {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 10px;
        }
        .info-position {
            margin-bottom: 20px;
        }
    }

    .skills{
        padding: 30px;
        .adobe {
            margin-bottom: 5px;
        }
        .border {
            border: 1px solid white;
            height: 6px;
            width: 80%;
            margin-bottom: 30px;
            .photoshop {
                background-color: white;
                width: 70%;
                height: 100%;
            }
            .ilustrator {
                background-color: white;
                width: 90%;
                height: 100%;
            }
            .indesign {
                background-color: white;
                width: 95%;
                height: 100%;
            }
        }
    }
   
   
    
    
    &::after {
        position: absolute;
        top:-10px;
        left:50%;
        content:"";
        background-color: $blue;
        height: 20px;
        width: 20px;
        transform: translateX(-50%) rotate(45deg);
    }
 }

 



}
