@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:100,400,700&display=swap&subset=latin-ext");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css");

$color-light: #ffffff;
$light-trans: rgba(255,255,255,0.8);
$color-light2: #f8f8f8;
$color-grey: #666666;
$grey2: #f1f1f2;
$grey3: #959595;
$grey4: #7f7f7f;
$color-grey5: #6d6c6c;
$blue: #2888e2;
$dark:#333333;
$dark2:#2a2a2a;
$color-dark3:#202020;
$dark4: #5a5a5a;
$yellow:#ffd37a;
$color-pink:#ec768c;
$color-purple: #b16fc7;
$color-green: #6dcab7;


$font-roboto: 'Roboto', sans-serif;
$font-openSans:'Open Sans', sans-serif;




