

header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(16,29,44,.70), rgba(16,29,44,.70)),
    url("https://cdn.pixabay.com/photo/2016/03/23/04/01/beautiful-1274056_960_720.jpg")  no-repeat;
    position: relative;
    background-size: cover;  
    font-family: 'Montserrat', sans-serif;
background-position: center;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin: 20px auto;
}
.navbar-brand h1 {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Dancing Script', cursive;
    color: yellow !important; 
    letter-spacing: 5px;
    font-size: 3.4rem;

}

.hero-text {
    background-color:rgba(255,255,255,0.1);
    margin-bottom: 100px;
    max-width: 400px;
    
    
}

.hero-text h2 {
    color: yellow;
    font-size: 2rem;
    line-height: 3rem;
}
.hero-text h4 {
    color: white;
    font-size: 1rem;
    line-height: 1.6rem;

}
.hero-text button {
    display: block;
    margin: 0 auto;

}

.hamburger-menu {
    position: fixed;
    font-size: 2rem;
    top: 20px;
    right: 20px;
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    z-index: 999;
}
.fa-bars {
    display: block;
    
}
.fa-times {
    display:none;
}

.fa-bars.open {
    display: none;
}
.fa-times.open{
    display: block;
}

.navbar-brand h1 {
    z-index: 3;
}

/* nav  */

.nav {
    width: 100%;
    transform: translateY(-150%); 
    position: absolute;
    top:0;
    left:0;
    height: 90vh;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    transition: .5s;
}

.nav.open {
    transform: translateY(0);
    transition: .5s;

}

.nav-link a{
    font-size: 30px;
    color: yellow;    
    letter-spacing: 3px;
}

 .nav-link a:hover {
     text-decoration: none;
     color: rgb(202, 202, 20);
}

.socials-info i {
    font-size: 1.4rem;
}

.contact-info {
    line-height: 30px;
}


@media (min-width: 776px) {
    .nav {
        
        height: inherit;
        transform: translateY(0);
        background-color: transparent;
     }
     .nav-item{
         display: flex;      
    }
    .nav-link a{
        font-size: 20px !important;
        margin-top: 5px;
    }
    .hamburger-menu {
        display: none;
    }
    .navbar-brand h1 {
        top:120px;
        transform: translateX(0);
        left: 20px;
        font-size: 3.8rem;
                
    }
    header {
        background-position: top;
    }

}



