@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:100,400,700&display=swap&subset=latin-ext");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css");
body {
  font-family: "Open Sans", sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}

.container {
  width: 100vw;
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.btn {
  font-size: 20px;
  color: #ffffff;
  border: none;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  -webkit-box-shadow: 3px 2px 4px rgba(24, 76, 125, 0.75);
          box-shadow: 3px 2px 4px rgba(24, 76, 125, 0.75);
  padding: 10px 15px;
  margin: 10px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .btn {
    padding: 15px 20px;
    margin: 20px;
  }
}

.btn-primary {
  background-color: #2888e2;
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #1a6ebd;
}

.btn-secondary {
  background-color: #ffffff;
  color: #2888e2;
}

.btn-secondary:hover {
  background-color: #e6e6e6;
}

.section-container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .section-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.title {
  color: #333333;
  font-size: 30px;
  letter-spacing: 1.5px;
  margin-bottom: 15px;
}

.title.light {
  color: #ffffff;
}

.info {
  margin: 15px 0;
}

.cont {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 50px 0;
}

.row {
  width: 100%;
  text-align: center;
}

.grid-cont {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (min-width: 768px) {
  .grid-cont {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .grid-cont {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

header {
  background: url("./img/header-bg.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

header nav {
  background-color: #ffffff;
  padding: 10px 20px;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 10;
}

@media (min-width: 768px) {
  header nav {
    position: fixed;
    width: 100%;
    padding: 30px 20px;
  }
  header nav.fixed {
    padding: 5px 20px;
  }
}

header nav .nav-button {
  position: static;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

header nav .nav-button.button-fixed {
  position: fixed;
  top: 20px;
  right: 20px;
}

header nav .nav-button .fa-bars {
  display: block;
}

header nav .nav-button .fa-times {
  display: none;
}

header nav .nav-button.isOpen .fa-bars {
  display: none;
}

header nav .nav-button.isOpen .fa-times {
  display: block;
}

@media (min-width: 768px) {
  header nav .nav-button {
    display: none;
  }
}

header nav .nav-brand {
  justify-self: flex-start;
  z-index: 3;
}

header nav .nav-links {
  position: fixed;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, 0.9)));
  background: linear-gradient(white, rgba(255, 255, 255, 0.9));
  padding-top: 20px;
  width: 100%;
  top: 0;
  left: 0;
  list-style-type: none;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: .5s;
  transition: .5s;
}

@media (min-width: 768px) {
  header nav .nav-links {
    position: static;
    -webkit-transform: translate(0);
            transform: translate(0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    -webkit-transition: 0;
    transition: 0;
  }
}

header nav .nav-links.nav-open {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  padding-top: 50px;
  z-index: 2;
}

header nav .nav-links .nav-item {
  margin: 30px auto;
  text-align: center;
}

header nav .nav-links .nav-item:nth-child(7) {
  display: none;
}

header nav .nav-links .nav-item:nth-child(8) {
  display: none;
}

@media (min-width: 768px) {
  header nav .nav-links .nav-item {
    margin: 0;
    padding: 0 10px;
  }
  header nav .nav-links .nav-item:nth-child(7) {
    display: block;
    margin-left: 25px;
  }
  header nav .nav-links .nav-item:nth-child(7):hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  header nav .nav-links .nav-item:nth-child(8) {
    display: block;
    margin-right: 40px;
  }
  header nav .nav-links .nav-item:nth-child(8):hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media (min-width: 1200px) {
  header nav .nav-links .nav-item {
    padding: 0 20px;
  }
}

header nav .nav-links .nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  color: #333333;
}

header nav .nav-links .nav-link.active {
  color: #2888e2;
  position: relative;
}

header nav .nav-links .nav-link.active::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 3px;
  width: 120%;
  -webkit-transform: translate(-10%, 5px);
          transform: translate(-10%, 5px);
  background-color: #2888e2;
}

header nav .nav-links .nav-link.active:hover:after {
  background-color: #82baee;
}

header nav .nav-links .nav-link.active:hover {
  color: #82baee;
}

header nav .nav-links .nav-link:hover {
  color: #959595;
}

header .heading {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 94%;
  max-width: 1170px;
}

header .heading .title {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  text-align: center;
  line-height: 50px;
  font-size: 38px;
  margin-bottom: 70px;
  font-weight: 500;
}

@media (min-width: 768px) {
  header .heading .title {
    font-size: 55px;
    line-height: 70px;
    margin-bottom: 100px;
  }
}

.about {
  background-color: #efefef;
  padding: 50px 0;
}

.about .about-info {
  width: 90%;
  max-width: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.about .about-info .btn-primary {
  margin-top: 30px;
  margin-left: 0;
  text-transform: capitalize;
}

.about .about-img {
  width: 90%;
  height: 300px;
}

.about .image {
  background-image: url("./img/computer.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.advantages {
  display: -ms-grid;
  display: grid;
  background: #202020;
  background-position: center;
  background-repeat: no-repeat;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 992px) {
  .advantages {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.advantages .adv-info {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 992px) {
  .advantages .adv-info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.advantages .adv-info .info {
  text-align: left;
  max-width: 500px;
}

@media (min-width: 992px) {
  .advantages .adv-info .info {
    text-align: right;
  }
}

.advantages .adv-info .btn-primary {
  display: inline-block;
  margin-top: 20px;
}

.advantages .adv-img {
  display: none;
  background-size: cover;
  background-position: top center;
}

@media (min-width: 768px) {
  .advantages .adv-img {
    background-image: url("./img/advantage-img.png");
    display: block;
  }
}

.services {
  background-color: #efefef;
}

.services .row {
  background-color: #2888e2;
  position: relative;
}

.services .row .title {
  color: #ffffff;
  text-align: center;
  padding: 50px;
  font-size: 36px;
  letter-spacing: 1.5px;
  font-weight: thin;
  text-transform: capitalize;
  z-index: 3;
}

.services .row .squere {
  height: 25px;
  width: 25px;
  background-color: #2888e2;
  position: absolute;
  bottom: 0%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%) rotate(45deg);
          transform: translate(-50%, 50%) rotate(45deg);
  z-index: 2;
}

.services .services-icons {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  z-index: 1;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 768px) {
  .services .services-icons {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.services .services-icons .icon-container {
  text-align: center;
  margin: 20px 15px 30px 15px;
}

.services .services-icons .icon-container .img {
  height: 80px;
}

.services .services-icons .icon-container .icon-title {
  color: grey;
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0;
  height: 20px;
}

.services .services-icons .icon-container .icon-text {
  font-size: 14px;
  font-weight: normal;
  mix-blend-mode: 20px;
  line-height: 20px;
}

.portfolio {
  padding: 100px 0;
  padding-bottom: 0;
}

.portfolio .row {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.portfolio .nav-links {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio .nav-links .nav-link {
  text-decoration: none;
  color: #333333;
  text-transform: uppercase;
}

.portfolio .nav-links .nav-link.active {
  color: #2888e2;
}

.portfolio .nav-links .nav-link.active:hover {
  color: #82baee;
}

.portfolio .nav-links .nav-link:hover {
  color: #b3b3b3;
}

.portfolio .nav-links .nav-item {
  padding: 20px;
}

.portfolio .grid-container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (min-width: 768px) {
  .portfolio .grid-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .portfolio .grid-container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.portfolio .grid-container .card {
  background-color: #f1f1f2;
  -webkit-transition: .5s;
  transition: .5s;
}

.portfolio .grid-container .card .card-img {
  position: relative;
}

.portfolio .grid-container .card .card-img img {
  width: 100%;
}

.portfolio .grid-container .card .card-img::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 0%;
  width: 0%;
  content: "";
  background-color: rgba(29, 92, 152, 0.6);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.portfolio .grid-container .card .card-img .horizontal-line {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  background-color: #ffffff;
  z-index: 100;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.portfolio .grid-container .card .card-img .vertical-line {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  background-color: #ffffff;
  z-index: 100;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.portfolio .grid-container .card .card-content {
  padding: 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: .3s;
  transition: .3s;
}

.portfolio .grid-container .card .card-content .text .title {
  font-size: 18px;
  color: #2a2a2a;
  font-weight: bold;
  letter-spacing: 0.8px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.portfolio .grid-container .card .card-content .text .small {
  color: #7f7f7f;
  font-size: 14px;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.portfolio .grid-container .card .card-content .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
}

.portfolio .grid-container .card .card-content .icons .eye, .portfolio .grid-container .card .card-content .icons .love {
  padding: 5px;
  color: #666666;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.portfolio .grid-container .card .card-content .icons .eye i, .portfolio .grid-container .card .card-content .icons .love i {
  padding: 5px 5px;
}

.portfolio .grid-container .card:hover {
  background-color: #2888e2;
}

.portfolio .grid-container .card:hover .horizontal-line {
  width: 80px;
  height: 1px;
}

.portfolio .grid-container .card:hover .vertical-line {
  width: 1px;
  height: 80px;
}

.portfolio .grid-container .card:hover :after {
  width: 100%;
  height: 100%;
}

.portfolio .grid-container .card:hover .title {
  color: #ffffff !important;
}

.portfolio .grid-container .card:hover .small, .portfolio .grid-container .card:hover .eye, .portfolio .grid-container .card:hover .love {
  color: #ffffff !important;
}

.banner {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.7))), url("./img/bannerBg.png");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("./img/bannerBg.png");
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .banner {
    padding: 150px;
  }
}

.banner .banner-text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
}

@media (min-width: 768px) {
  .banner .banner-text-wrapper {
    padding: 40px 80px;
    max-width: 50%;
  }
}

.banner .banner-text-wrapper .main-text {
  color: #ffffff;
  font-size: 22px;
  text-align: center;
  padding-bottom: 10px;
  font-weight: thin;
  letter-spacing: 8.8px;
}

@media (min-width: 768px) {
  .banner .banner-text-wrapper .main-text {
    padding-bottom: 20px;
  }
}

.banner .banner-text-wrapper .secondary-text {
  margin-bottom: 20px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 3px;
}

@media (min-width: 768px) {
  .banner .banner-text-wrapper .secondary-text {
    padding-bottom: 20px;
  }
}

.banner .banner-text-wrapper .small-text {
  color: #2888e2;
  font-size: 12px;
  text-align: center;
  letter-spacing: 5px;
}

.team {
  background-color: #f1f1f2;
  padding: 100px 0;
  padding-bottom: 0;
  width: 100vw;
  overflow-x: hidden;
}

.team .team-cont {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  overflow-x: hidden;
  position: relative;
}

@media (min-width: 992px) {
  .team .team-cont {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .team .team-cont {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.team .row {
  width: 100%;
  text-align: center;
}

.team .row h3 {
  color: #333333;
}

.team .row p {
  color: #959595;
}

.team .team-card {
  background-color: #243130;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 350px;
  max-width: 500px;
  margin: 20px;
  margin-top: 150px;
  -webkit-transition: .5s;
  transition: .5s;
  position: relative;
}

.team .team-card .team-img {
  position: absolute;
  left: 50%;
  bottom: 78px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.team .team-card .card-info {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  height: 80px;
  width: 100%;
  overflow: hidden;
}

.team .team-card .card-info .person-details {
  -webkit-transition: .5s;
  transition: .5s;
}

.team .team-card .card-info .person-details .team-name {
  color: #2888e2;
  padding: 16px 0 10px 0;
  font-size: 18px;
  font-weight: 400;
  opacity: 1;
}

.team .team-card .card-info .person-details .team-position {
  padding: 0px 0 20px 0;
  color: #666666;
  font-size: 13px;
  font-weight: 300;
  opacity: 1;
}

.team .team-card .card-info .socials {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
  color: black;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .5s;
  transition: .5s;
  height: 80px;
}

.team .team-card .card-info .socials i {
  font-size: 24px;
  color: #666666;
  padding: 0 10px;
}

.team .team-card .card-info .socials i:hover {
  color: #2888e2;
}

.team .team-card:hover {
  background-color: #2888e2;
}

.team .team-card:hover .person-details {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.team .team-card:hover .socials {
  -webkit-transform: translate(-50%, -10%);
          transform: translate(-50%, -10%);
  color: red;
}

.team .info-container {
  padding: 40px 60px;
  margin-top: 50px;
  background-color: #2888e2;
  color: #ffffff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team .info-container .info .info-name {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.team .info-container .info .info-position {
  margin-bottom: 20px;
}

.team .info-container .skills {
  padding: 30px;
}

.team .info-container .skills .adobe {
  margin-bottom: 5px;
}

.team .info-container .skills .border {
  border: 1px solid white;
  height: 6px;
  width: 80%;
  margin-bottom: 30px;
}

.team .info-container .skills .border .photoshop {
  background-color: white;
  width: 70%;
  height: 100%;
}

.team .info-container .skills .border .ilustrator {
  background-color: white;
  width: 90%;
  height: 100%;
}

.team .info-container .skills .border .indesign {
  background-color: white;
  width: 95%;
  height: 100%;
}

.team .info-container::after {
  position: absolute;
  top: -10px;
  left: 50%;
  content: "";
  background-color: #2888e2;
  height: 20px;
  width: 20px;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}

.opinion {
  padding: 100px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.7))), url("./img/customerBg.png");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("./img/customerBg.png");
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.opinion .title {
  color: #ffffff;
}

.opinion .subtitle {
  color: #959595;
  margin-bottom: 100px;
}

.slider-wrapper {
  width: 100%;
  position: relative;
}

@media (min-width: 768px) {
  .slider-wrapper {
    width: 60%;
    margin: 0 auto;
  }
}

.slider-wrapper .mySlider {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.slider-wrapper .slider-text {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 10px;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.6);
}

.slider-wrapper .prev, .slider-wrapper .next {
  position: absolute;
  top: 50%;
  font-size: 2rem;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.slider-wrapper .prev {
  left: 0;
}

.slider-wrapper .next {
  right: 0;
}

.purchase {
  background-color: #2888e2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (min-width: 768px) {
  .purchase {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.purchase::after {
  position: absolute;
  bottom: -10px;
  left: 50%;
  content: "";
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
  height: 20px;
  width: 20px;
  background-color: #2888e2;
}

.purchase .main-purchase {
  color: #ffffff;
  font-size: 24px;
  padding: 60px;
}

.purchase .purchase-btn {
  font-size: 18px;
  color: #ffffff;
  background-color: #2888e2;
  padding: 10px 20px;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.pricing {
  padding: 100px 20px;
  background-color: #f1f1f2;
}

.pricing .pricing-card-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 50px;
}

@media (min-width: 992px) {
  .pricing .pricing-card-container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.pricing .pricing-card-container .card {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 350px;
}

.pricing .pricing-card-container .card .card-title, .pricing .pricing-card-container .card .card-price {
  color: #ffffff;
  padding: 20px 0;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.pricing .pricing-card-container .card .card-title .price, .pricing .pricing-card-container .card .card-price .price {
  font-size: 40px;
}

.pricing .pricing-card-container .card .card-title {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.pricing .pricing-card-container .card .card-title-one {
  background-color: #ea5974;
}

.pricing .pricing-card-container .card .card-price-one {
  background-color: #f5617d;
}

.pricing .pricing-card-container .card .card-title-two {
  background-color: #1b76cc;
  position: relative;
}

.pricing .pricing-card-container .card .card-title-two::after {
  position: absolute;
  top: -18px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "Most Popular";
  color: red;
  font-weight: bold;
  letter-spacing: 2px;
}

.pricing .pricing-card-container .card .card-price-two {
  background-color: #2888e2;
}

.pricing .pricing-card-container .card .card-title-three {
  background-color: #5cb1a1;
}

.pricing .pricing-card-container .card .card-price-three {
  background-color: #74c8b8;
}

.pricing .pricing-card-container .card .card-content {
  widows: 100%;
  text-align: center;
  color: #666666;
}

.pricing .pricing-card-container .card .card-content .features {
  font-weight: 700;
  font-size: 20px;
  padding: 20px 0 10px 0;
}

.pricing .pricing-card-container .card .card-content .product {
  font-weight: 300;
  padding: 10px 50px;
}

.pricing .pricing-card-container .card .card-content .product:nth-child(odd) {
  background-color: #f8f8f8;
}

.pricing .pricing-card-container .card .card-content .btn-pricing {
  color: #ffffff;
  padding: 10px 20px;
  border: 1px solid #ffffff;
  margin: 30px auto;
  letter-spacing: 1.4px;
}

.pricing .pricing-card-container .card .card-content .btn-pricing-one {
  background-color: #f5617d;
}

.pricing .pricing-card-container .card .card-content .btn-pricing-one:hover {
  background-color: #f23156;
}

.pricing .pricing-card-container .card .card-content .btn-pricing-two {
  background-color: #1b76cc;
}

.pricing .pricing-card-container .card .card-content .btn-pricing-two:hover {
  background-color: #155c9f;
}

.pricing .pricing-card-container .card .card-content .btn-pricing-three {
  background-color: #5cb1a1;
}

.pricing .pricing-card-container .card .card-content .btn-pricing-three:hover {
  background-color: #479385;
}

.twitter {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.7))), url("./img/twitterBg.png");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("./img/twitterBg.png");
  background-position: center;
  background-size: cover;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

@media (min-width: 768px) {
  .twitter {
    padding: 80px 0;
  }
}

.twitter .fa-twitter {
  font-size: 50px;
  margin: 30px auto;
}

@media (min-width: 768px) {
  .twitter .fa-twitter {
    margin: 50px auto;
    font-size: 68px;
  }
}

.twitter .twitter-info {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  font-weight: 300;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .twitter .twitter-info {
    margin-bottom: 60px;
    font-size: 36px;
  }
}

.twitter .control {
  height: 20px;
  width: 20px;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #ffffff;
}

.twitter .control.active {
  background-color: #ffffff;
}

.blog {
  background-color: #f1f1f2;
  padding: 100px 20px;
}

.blog .blog-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  padding-bottom: 50px;
}

.blog .blog-card .img {
  width: 100%;
  position: relative;
}

.blog .blog-card .img img {
  width: 100%;
}

.blog .blog-card .img .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

.blog .blog-card .img .play-btn img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.blog .blog-card .img .socials {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog .blog-card .img .socials .comment, .blog .blog-card .img .socials .likes, .blog .blog-card .img .socials .share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2888e2;
  padding: 5px 10px;
  border-radius: 15px;
  margin: 5px;
  font-size: 12px;
  cursor: pointer;
}

.blog .blog-card .img .socials .comment:hover, .blog .blog-card .img .socials .likes:hover, .blog .blog-card .img .socials .share:hover {
  background-color: #1a6ebd;
}

.blog .blog-card .img .socials .comment span, .blog .blog-card .img .socials .likes span, .blog .blog-card .img .socials .share span {
  margin-left: 8px;
  text-transform: uppercase;
}

.blog .blog-card .img .socials .likes {
  background-color: #ec768c;
}

.blog .blog-card .img .socials .likes:hover {
  background-color: #e64966;
}

.blog .blog-card .img .socials .share {
  background-color: #6dcab7;
}

.blog .blog-card .img .socials .share:hover {
  background-color: #48bca5;
}

.blog .blog-card .text {
  padding: 10px;
  color: #202020;
}

.blog .blog-card .text .blog-card-title {
  font-weight: 500;
  padding: 10px 0 4px 0;
  font-size: 16px;
  letter-spacing: 0.8px;
}

.blog .blog-card .text .blog-card-madeBy {
  padding: 2px 0 16px 0;
  text-transform: uppercase;
  font-size: 0.7em;
}

.blog .allPosts {
  padding: 7px 15px;
  color: #2888e2;
  background-color: transparent;
  border: 1px solid #2888e2;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.blog .allPosts:hover {
  background-color: #2888e2;
  color: #ffffff;
}

.contact {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.8))), url("./img/contactBg.png");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("./img/contactBg.png");
  background-position: center;
  background-size: cover;
  padding: 100px 20px;
}

.contact .title {
  color: #ffffff;
}

.contact .subtitle {
  color: #ffffff;
}

.contact .form {
  margin: 0 auto;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1170px;
}

.contact .form input, .contact .form textarea {
  max-width: 500px;
  padding: 15px 20px;
  margin: 15px auto;
  width: 80%;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-size: 16px;
}

.contact .form input::-webkit-input-placeholder, .contact .form textarea::-webkit-input-placeholder {
  color: #ffffff;
}

.contact .form input:-ms-input-placeholder, .contact .form textarea:-ms-input-placeholder {
  color: #ffffff;
}

.contact .form input::-ms-input-placeholder, .contact .form textarea::-ms-input-placeholder {
  color: #ffffff;
}

.contact .form input::placeholder, .contact .form textarea::placeholder {
  color: #ffffff;
}

.contact .form .email {
  background-color: #ffffff;
  background-image: url("../img/emailVerif.png");
  background-position: right;
  background-repeat: no-repeat;
  font-weight: 600;
  border: none;
}

.contact .form .email::-webkit-input-placeholder {
  color: #2888e2;
}

.contact .form .email:-ms-input-placeholder {
  color: #2888e2;
}

.contact .form .email::-ms-input-placeholder {
  color: #2888e2;
}

.contact .form .email::placeholder {
  color: #2888e2;
}

.contact .fieldsReq {
  margin-top: 30px;
  text-align: center;
  color: #ffd37a;
  opacity: .7;
  letter-spacing: 2px;
}

.footer {
  background-color: #202020;
  padding: 100px 20px;
}

.footer .footer-cont {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  max-width: 1170px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .footer .footer-cont {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 50px;
  }
}

.footer .footer-cont .recent-container img {
  width: 49%;
}

.footer .footer-cont .recent-container img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.footer .footer-cont .foot-title {
  font-size: 20px;
  letter-spacing: 3px;
  margin-bottom: 15px;
  margin-top: 15px;
  font-weight: bold;
  color: #ffffff;
}

.footer .footer-cont .about-text {
  padding: 15px 0;
  font-weight: lighter;
  font-size: 0.9em;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  color: white;
  line-height: 30px;
  text-align: left;
}

.footer .footer-cont .about-text i {
  margin-right: 10px;
  color: #2888e2;
}

.footer .footer-cont .foot-brand {
  margin: 20px auto;
}

.footer .footer-cont .foot-work {
  margin-bottom: 30px;
}

.footer .footer-cont .foot-about {
  color: #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer-cont .foot-about .about-info {
  font-size: 0.9em;
  margin-bottom: 30px;
}

.footer .footer-cont .foot-help .about-text {
  border: none;
  line-height: 10px;
}

.footer .footer-cont .foot-help .socials {
  color: #959595;
}

.footer .footer-cont .foot-help .socials i {
  margin: 10px;
}

.footer .footer-cont .foot-help .socials i:hover {
  color: #ffffff;
}

.copyright {
  padding: 20px;
  text-align: center;
  background-color: #2a2a2a;
  color: #666666;
}
/*# sourceMappingURL=style.css.map */